body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16px;
}

footer {
  font-size: 16px;
  padding: 26px 20px;
  background-color: #b33f00;
}

img {
  height: 200px;
}

nav {
  border-bottom: solid 3px #9ef8ee;
  padding: 20px;
  background-color: #006663;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

a {
  text-decoration: none;
  color: #ff6b1a;
}

h1 {
  color: #00b3ad;
}

nav a {
  color: #fa7f08;
  font-size: 16px;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f28c4b;
}
